.navbar {
    background-color: indigo;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.nav-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left a, .nav-right a {
    color: gold;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin: 0 15px;
    cursor: pointer;
}