<nav class="navbar">
    <div class="nav-container">
        <div class="nav-left">
            <a routerLink = '/'>Home</a>
            <a routerLink = '/create-post'>Posts</a>
            <a routerLink = '/timeline'>Timeline</a>
        </div>
        <div class="nav-left">
        </div>
        <div class="nav-right" *ngIf = '!isLoggedIn'>
            <a routerLink = '/login' >Login</a>
            <a routerLink = '/signup'>Signup</a>
        </div>
        <div class="nav-right" *ngIf = 'isLoggedIn'>
            <a (click) = 'Logout()' >Logout</a>
        </div>
    </div>
</nav>