.navbar {
    background-color: indigo;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.nav-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left a, .nav-right a {
    color: gold;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin: 0 15px;
}
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px; /* Adds space between cards */
}

.cards {
    cursor: pointer;
    width: 100%; /* This ensures the cards are responsive */
    max-width: 300px; /* Set max width for the cards */
    // height: 300px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    margin: 10px; /* Adjusted margin */
}
.nav-right, .nav-left{
    cursor: pointer;
}

@media (min-width: 768px) {
    .cards {
        flex: 1 1 calc(25% - 60px); /* Adjust this for 4 cards in a row */
    }
}
